/*.responsive-menu-wrap {
    display: none;
}
.mobile-menu-toggle {
    background:#000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 100;
    height:50px;
}
.logo-mobile img {
    height:20px;
    position: relative;
    top:16px;
}
.mobile-menu-icon {
    position:absolute;
    float:right;
    left:20px;
    top:1px;
}
.mobile-menu-icon {
    font-size: 28px;
}

.logo {
    line-height: 0;
    margin: 40px 60px 30px;
    margin-top: 50px;
    position: relative;
    z-index: 20;
}

.responsive-menu-wrap {
    background:rgba(000, 0, 0, 0.5);
    color:#fff;
    width: 320px;
    height: 100%;
    z-index: 99;
    opacity: 0.3;
    font-family: HelveticaNeue;
    position: absolute;
    float: left;
}

.responsive-mobile-menu{
    width: 100%;
}

.responsive-mobile-menu #s {
    margin:5px;
}
.responsive-mobile-menu #searchform {
    margin:0 auto;
    text-align: center;
    padding-top:5px;
    display: none;
}
.responsive-mobile-menu #searchform i {
    color:#000;
}
.responsive-mobile-menu #searchform input {
    width: 50%;
    text-indent: 20px;
    background:#eee;
    color:#000;
    font-weight: 200;
}
.responsive-mobile-menu #searchbutton {

}

.responsive-mobile-menu ul.sub-menu {
}
.responsive-mobile-menu ul{
    padding: 0 50px;
}
.responsive-mobile-menu li {
    display:block;
    text-align: right;
    font-family: HelveticaNeue;
    border-top: 1px solid #706958;
    padding: 4px 0;
    text-transform: uppercase;  
}


.responsive-mobile-menu ul li a {
    font-size:11px;
    color:#fff;
    letter-spacing: 0.5px;
}

.responsive-mobile-menu ul li.menu-item-has-children{
    background: url(../../images/icons/arrow-menu.png) no-repeat 10px 10px;
    cursor: pointer;

}

.responsive-mobile-menu ul li.menu-item-has-children ul{
    padding: 2px 0;


}

.responsive-mobile-menu ul li.menu-item-has-children ul li{
    display: block;
    border: 0;
}

.responsive-mobile-menu ul li.menu-item-has-children ul li a{
    font-size: 9px;
}

.responsive-mobile-menu ul.sub-menu{
    display: none;
}

.responsive-mobile-menu ul.sub-menu li a {
    font-size:12px;
    color:#fff;
    display:block;
    font-family: HelveticaNeue;
}

.responsive-mobile-menu li:first-child{
    border-left: 4px solid #fff;
}

.responsive-mobile-menu li a:hover {
    background:#fff;
}

.responsive-menu-wrap div.copyright{
    display:block;
    padding: 0 50px;

}

.responsive-menu-wrap div.copyright span{
    border-top: 1px solid #706958;
    padding: 13px 0;

    font-size:10px;
    color:#fff;
    text-align: center;
    font-family: HelveticaNeue;
    text-transform: uppercase;
    display: block;
}

.responsive-menu-wrap div.copyright .copyright-img{
    background: url(../../images/icons/copyright.png) no-repeat center center;
    width: 100%;
    height: 60px;
    padding-top: 30px;
}

#menu-show-btn{
    display: none;
}*/

/*@media only screen and (max-width: 900px) {*/

    .responsive-menu-wrap {
        background:#fff;
        color:#000000;
        width: 100%;
        z-index: 998;
        /*opacity: 0.3;*/
        font-family: HelveticaNeue;
        position: relative;
        display: block;
        float: none;
        height: auto;
        cursor: pointer;
    }

    .logo{
        background: none repeat scroll 0 0 #000000;
        display: block;
        height: 28px;
        line-height: 0;
        margin: 50px 5px 30px;
        position: relative;
        z-index: 20;

        width: 100%;
        text-align: center;
        margin: 0;
    }

    .logo img{
        margin-top: 4px;
    }

    /* Mobile Menu ON */
    .responsive-mobile-menu {
        display:none;
    }

    .responsive-mobile-menu{
        width: 100%;
    }

    .responsive-mobile-menu #s {
        margin:5px;
    }
    /*    .responsive-mobile-menu #searchform {
            margin:0 auto;
            text-align: left;
            padding:0 13px 40px;
            display: block;
        }
    
    
        .responsive-mobile-menu #searchform i {
            color:#000;
        }
    
        .responsive-mobile-menu #searchform input {
            background: none repeat scroll 0 0 #EEEEEE;
            border: 0 none;
            color: #5D5A5A;
            font-weight: 200;
            height: 30px;
            margin: 0;
            padding: 0;
            text-indent: 8px;
            width: 135px;
        }
        .responsive-mobile-menu #searchbutton {
    
        }
    
        #searchbutton {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
            border: 0 none;
            cursor: pointer;
            text-align: right;
            font-size: 15px;
            height: 32px;
            opacity: 1;
            padding: 0 0 0 30px;
            width: 32px;
        }*/


    .responsive-mobile-menu #searchform {
        margin: 0 auto;
        padding-top: 5px;
        text-align: center;
        display: block;
    }


    .responsive-mobile-menu #searchform input {
        background: none repeat scroll 0 0 #EEEEEE;
        color: #000000;
        font-weight: 200;
        text-indent: 20px;
        width: 50%;
    }
    .responsive-mobile-menu #s {
        margin: 5px;
    }

    #searchbutton {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        border: 0 none;
        cursor: pointer;
        font-size: 15px;
        height: 32px;
        opacity: 1;
        padding: 10px 18px 4px;
        width: 32px;
    }

    .responsive-mobile-menu ul.sub-menu {
    }
    .responsive-mobile-menu ul{
        padding: 0 15px;
    }
    .responsive-mobile-menu li {
        display:block;
        text-align: left;
        font-family: HelveticaNeue;
        border-top: 0;
        padding: 0;
        text-transform: uppercase;  
    }


    /*    .responsive-mobile-menu ul li a {
            font-size:11px;
            color:#000;
            letter-spacing: 0.5px;
            padding: 0 0 15px 0;
            display: block;
        }*/


    .responsive-mobile-menu ul li a {
        color: #000000;
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding: 4px 20px;
        text-align: center;
    }


    .responsive-mobile-menu ul.sub-menu li a {
        color: #656565;
        display: block;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .responsive-mobile-menu ul li.menu-item-has-children{
        background: none;
        cursor: pointer;

    }

    .responsive-mobile-menu ul li.menu-item-has-children ul{
        padding: 0 0 15px 35px;


    }

    .responsive-mobile-menu ul li.menu-item-has-children ul li{
        display: block;
        border: 0;
    }

    .responsive-mobile-menu ul li.menu-item-has-children ul li a{
        font-size: 11px;
    }

    .responsive-mobile-menu ul.sub-menu{
        display: block;
    }

    .responsive-mobile-menu ul.sub-menu li a {
        color:#000;
        display:block;
        font-family: HelveticaNeue;
    }

    .responsive-mobile-menu li:first-child{
        border-left: 0;
    }

    .responsive-mobile-menu li a:hover {
        /*background:#fff;*/
    }

    .responsive-menu-wrap div.copyright{
        display:none;
        padding: 0;

    }



    .responsive-menu-wrap div.copyright span{
        border-top: 1px solid #706958;
        padding: 13px 0;

        font-size:10px;
        color:#fff;
        text-align: center;
        font-family: HelveticaNeue;
        text-transform: uppercase;
        display: block;
    }

    .responsive-menu-wrap div.copyright .copyright-img{
        background: url(../../images/icons/copyright.png) no-repeat center center;
        width: 100%;
        height: 60px;
        padding-top: 30px;
    }

/*}*/

.login-popup{
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    background:none;
    /*width: 370px;*/
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.login-popup a.login-btn{
    /*background:rgba(000, 0, 0, 0.5);*/
    background: #000;
    width: 110px;
    height: 23px;
    text-align: center;
    vertical-align: central;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 0 0 0;
    margin: 0;
    float: right;
    color: #fff;

    position: relative;
}

.login-popup .login-scroll{
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    background:rgba(000, 0, 0, 0.5);
}

.login-popup .login-scroll form{
    padding: 0 66px;
}

.login-popup .login-scroll h2{
    text-transform: uppercase;
    font-size: 20px;
    text-transform: uppercase;
    padding: 27px 0 17px;
    text-align: right;

}

.login-popup .login-scroll .login-input{
    padding: 7px 0;
    display: block;

}


.login-popup .login-scroll .login-input input[type="text"], 
.login-popup .login-scroll .login-input input[type="password"]{
    background: #fafec0;
    width: 145px;
    padding: 3px;
    font-size: 11px;
    color: #000;
    height: 18px;
    border: 1px solid rgba(105, 106, 80, 0.4);
    border-radius: 0;
    float: right;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

.login-popup .login-scroll .login-input span{
    width: 65px;
    float: left;
    padding-right: 15px;
    padding-top: 1px;
    text-align: right;
    font-size: 11px;
    text-transform: uppercase;
}

.login-popup .login-scroll .login-input input{
    float: left;
}

.login-popup .login-scroll .login-input.remember{
    padding-top: 15px;
}

.login-popup .login-scroll .login-input label{
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    padding-left: 10px;
}

.login-popup .login-scroll button{
    float: right;
    padding: 6px 30px;
    background:rgba(000, 0, 0, 0.6);
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    margin: 25px 0 20px;
}


.login-popup .login-scroll a.register-suggest {
    background: url("../../images/icons/register-suggest-btn.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    clear: both;
    color: #CA8102;
    display: block;
    font-size: 12px;
    margin: 0 35px 15px;
    padding: 3px 10px 13px;
}

.scala-popup{
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    right: 10px;
    padding: 25px 80px;
    position: absolute;
    top: 18px;
    width: 841px;
    z-index: 999;
}

.scala-popup .header{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #7f8080;
    position: relative;
}

.scala-popup .close-popup{
    position: absolute;
    width: 30px;
    height: 40px;
    background: url('../../images/icons/close-popup.png') no-repeat center center;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.scala-popup .header h2{
    color: #000;
    font-size: 16px;
    padding: 0 0 10px 0;
}



.scala-popup .header p{
    font-size: 11px;
    color: #000;
}

.scala-popup .content{

    color: #999999;
    font-size: 11px;
    padding: 25px 0 155px;
}

.scala-popup .content input[type="text"],
.scala-popup .content input[type="password"]{
    height: 22px;
    width: 135px;
    background: url('../../images/icons/input-text-left.png'), url('../../images/icons/image-text-right.png') , url('../../images/icons/image-text-center.png');
    background-position: left top, right top, left top ;
    background-repeat: no-repeat, no-repeat, repeat-x;
    padding: 0 5px;
    font-size: 11px;
    border: 0;
    border-radius: 0;
}


/* The CSS */

.scala-popup .content span.label_select {
    position:relative;
    height: 22px;
}

.scala-popup .content label{
    width: 120px;
    float: left;
}

.scala-popup .content label[for="customers_telephone_ext"]{
    padding-left: 25px;
    width: 25px;
}

.scala-popup .content input#customers_telephone_ext{
    width: 55px;
}
.scala-popup .content span{
    display: block;
    float: left;
}

.scala-popup .content span.label_select:before {
    background: url("../../images/icons/select-box-right.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 22px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 0;
    width: 25px;
}
.scala-popup .content select{
    height: 22px;
    background: url('../../images/icons/select-box-left.png'), url('../../images/icons/select-box-right.png'), url('../../images/icons/select-box-center.png');
    background-position: left top,right top,center top ;
    background-repeat: no-repeat,no-repeat, repeat-x;
    padding: 3px 5px 0;
    font-size: 11px;
    border: 0;
    border-radius: 0;
    color: #999999;
}

.scala-popup .input-box{
    padding: 6px 0 0 5px;
}

.scala-popup .input-box input{
    float: left;
}

.scala-popup .input-box i{
    float: left;
    display: block;
    padding-left: 5px;
}

.scala-popup .input-box p{
    display: block;
    float: left;
    padding-left: 120px;
}

.scala-popup .content h3{
    font-size: 13px;
    font-weight: bold;
}

.scala-popup .content .content-left{
    float: left;
    width: 50%;
}

.scala-popup .content .content-right{
    float: right;
    width: 50%;
}

.scala-popup h3.thanks{
    font-size: 16px;
    color: #000;
}

.scala-popup p.msg{
    padding: 10px 0 35px;
}
#register-success-form.scala-popup .header{
    border: 0;
}



.register-form-sc .header{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #7f8080;
    position: relative;
}

.register-form-sc .close-popup{
    position: absolute;
    width: 30px;
    height: 40px;
    background: url('../../images/icons/close-popup.png') no-repeat center center;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.register-form-sc .header h2{
    color: #000;
    font-size: 16px;
    padding: 0 0 10px 0;
}



.register-form-sc .header p{
    font-size: 11px;
    color: #000;
}

.register-form-sc .content{

    color: #999999;
    font-size: 11px;
    padding: 25px 0 155px;
}

.register-form-sc .content input[type="text"],
.register-form-sc .content input[type="password"]{
    height: 22px;
    width: 135px;
    background: url('../../images/icons/input-text-left.png'), url('../../images/icons/image-text-right.png') , url('../../images/icons/image-text-center.png');
    background-position: left top, right top, left top ;
    background-repeat: no-repeat, no-repeat, repeat-x;
    padding: 0 5px;
    font-size: 11px;
    border: 0;
    border-radius: 0;
}


/* The CSS */

.register-form-sc .content span.label_select {
    position:relative;
    height: 22px;
}

.register-form-sc .content label{
    width: 120px;
    float: left;
}

.register-form-sc .content label[for="customers_telephone_ext"]{
    padding-left: 25px;
    width: 25px;
}

.register-form-sc .content input#customers_telephone_ext{
    width: 55px;
}
.register-form-sc .content span{
    display: block;
    float: left;
}

.register-form-sc .content span.label_select:before {
    background: url("../../images/icons/select-box-right.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 22px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 0;
    width: 25px;
}
.register-form-sc .content select{
    height: 22px;
    background: url('../../images/icons/select-box-left.png'), url('../../images/icons/select-box-right.png'), url('../../images/icons/select-box-center.png');
    background-position: left top,right top,center top ;
    background-repeat: no-repeat,no-repeat, repeat-x;
    padding: 3px 5px 0;
    font-size: 11px;
    border: 0;
    border-radius: 0;
    color: #999999;
}

.register-form-sc .input-box{
    padding: 6px 0 0 5px;
}

.register-form-sc .input-box input{
    float: left;
}

.register-form-sc .input-box i{
    float: left;
    display: block;
    padding-left: 5px;
}

.register-form-sc .input-box p{
    display: block;
    float: left;
    padding-left: 120px;
}

.register-form-sc .content h3{
    font-size: 13px;
    font-weight: bold;
}

.register-form-sc .content .content-left{
    float: left;
    width: 50%;
}

.register-form-sc .content .content-right{
    float: right;
    width: 50%;
}

.register-form-sc h3.thanks{
    font-size: 16px;
    color: #000;
}

.register-form-sc p.msg{
    padding: 10px 0 35px;
}

@media only screen and (max-width: 900px) {
    .register-form-sc .content .content-right{
        float: left;
        width: 100%;
    }

    .register-form-sc .content .content-left{
        float: left;
        width: 100%;
    }
}