.responsive-menu-wrap {
    display: none;
}
.mobile-menu-toggle {
    background:#000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 100;
    height:50px;
}
.logo-mobile img {
    height:20px;
    position: relative;
    top:16px;
}
.mobile-menu-icon {
    position:absolute;
    float:right;
    left:20px;
    top:1px;
}
.mobile-menu-icon {
    font-size: 28px;
}
.responsive-mobile-menu {
    background:#fff;
    color:#000;
    width:100%;
    display: none;
    padding-bottom: 50px;
    position: relative;
    z-index: 999;
}

.responsive-mobile-menu #s {
    margin:5px;
}
.responsive-mobile-menu #searchform {
    margin:0 auto;
    text-align: center;
    padding-top:5px;
}
.responsive-mobile-menu #searchform i {
    color:#000;
}
.responsive-mobile-menu #searchform input {
    width: 50%;
    text-indent: 20px;
    background:#eee;
    color:#000;
    font-weight: 200;
}
.responsive-mobile-menu #searchbutton {

}
.responsive-mobile-menu ul li a {
    padding-bottom:15px;
}
.responsive-mobile-menu ul li a {
    font-size:22px;
    color:#000;
    font-weight: 600;
    letter-spacing: 0.5px;
    display:block;
    padding: 4px 20px;
    text-align: center;
}
.responsive-mobile-menu li.menu-item-has-children a {
    font-weight: 400;
}
.responsive-mobile-menu ul.sub-menu li a {
    font-size:14px;
    color:#656565;
    letter-spacing: 0.5px;
    font-weight: 400;
    display:block;
}
.responsive-mobile-menu ul.sub-menu {
}
.responsive-mobile-menu li {
    display:block;
}
.responsive-mobile-menu li a:hover {
    background:#fff;
}

.login-popup{
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    background:none;
    /*width: 370px;*/
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.login-popup a.login-btn{
    /*background:rgba(000, 0, 0, 0.5);*/
    background: #000;
    width: 110px;
    text-align: center;
    vertical-align: central;
    text-transform: uppercase;
    font-size: 11px;
    padding: 16px 0;
    margin: 0;
    float: right;
    color: #fff;

    position: relative;
}

.login-popup .login-scroll{
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    background:rgba(000, 0, 0, 0.7);
}

.login-popup .login-scroll form{
    padding: 0 66px;
}

.login-popup .login-scroll h2{
    text-transform: uppercase;
    font-size: 20px;
    text-transform: uppercase;
    padding: 27px 0 17px;
    text-align: right;

}

.login-popup .login-scroll .login-input{
    padding: 7px 0;
    display: block;

}


.login-popup .login-scroll .login-input input[type="text"], 
.login-popup .login-scroll .login-input input[type="password"]{
    background: #fafec0;
    width: 145px;
    padding: 3px;
    font-size: 11px;
    color: #000;
    height: 18px;
    border: 1px solid rgba(105, 106, 80, 0.4);
    border-radius: 0;
    float: right;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

.login-popup .login-scroll .login-input span{
    width: 65px;
    float: left;
    padding-right: 15px;
    padding-top: 1px;
    text-align: right;
    font-size: 11px;
    text-transform: uppercase;
}

.login-popup .login-scroll .login-input input{
    float: left;
}

.login-popup .login-scroll .login-input.remember{
    padding-top: 15px;
}

.login-popup .login-scroll .login-input label{
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    padding-left: 10px;
}

.login-popup .login-scroll button{
    float: right;
    padding: 6px 30px;
    background:#fff;
    border: 0;
    border-radius: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    margin: 25px 0 20px;
}


.login-popup .login-scroll a.register-suggest {
    background: url("../../images/icons/register-suggest-btn.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    clear: both;
    color: #CA8102;
    display: block;
    font-size: 12px;
    margin: 0 35px 15px;
    padding: 3px 10px 13px;
}

.scala-popup{
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    right: 10px;
    padding: 25px 80px;
    position: absolute;
    top: 18px;
    width: 841px;
    z-index: 999;
}

.scala-popup .header{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #7f8080;
    position: relative;
}

.scala-popup .close-popup{
    position: absolute;
    width: 30px;
    height: 40px;
    background: url('../../images/icons/close-popup.png') no-repeat center center;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.scala-popup .header h2{
    color: #000;
    font-size: 16px;
    padding: 0 0 10px 0;
}



.scala-popup .header p{
    font-size: 11px;
    color: #000;
}

.scala-popup .content{

    color: #999999;
    font-size: 11px;
    padding: 25px 0 155px;
}

.scala-popup .content input[type="text"],
.scala-popup .content input[type="password"]{
    height: 22px;
    width: 135px;
    background: url('../../images/icons/input-text-left.png'), url('../../images/icons/image-text-right.png') , url('../../images/icons/image-text-center.png');
    background-position: left top, right top, left top ;
    background-repeat: no-repeat, no-repeat, repeat-x;
    padding: 0 5px;
    font-size: 11px;
    border: 0;
    border-radius: 0;
}


/* The CSS */

.scala-popup .content span.label_select {
    position:relative;
    height: 22px;
}

.scala-popup .content label{
    width: 120px;
    float: left;
}

.scala-popup .content label[for="customers_telephone_ext"]{
    padding-left: 25px;
    width: 25px;
}

.scala-popup .content input#customers_telephone_ext{
    width: 55px;
}
.scala-popup .content span{
    display: block;
    float: left;
}

.scala-popup .content span.label_select:before {
    background: url("../../images/icons/select-box-right.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 22px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 0;
    width: 25px;
}
.scala-popup .content select{
    height: 22px;
    background: url('../../images/icons/select-box-left.png'), url('../../images/icons/select-box-right.png'), url('../../images/icons/select-box-center.png');
    background-position: left top,right top,center top ;
    background-repeat: no-repeat,no-repeat, repeat-x;
    padding: 3px 5px 0;
    font-size: 11px;
    border: 0;
    border-radius: 0;
    color: #999999;
}

.scala-popup .input-box{
    padding: 6px 0 0 5px;
}

.scala-popup .input-box input{
    float: left;
}

.scala-popup .input-box i{
    float: left;
    display: block;
    padding-left: 5px;
}

.scala-popup .input-box p{
    display: block;
    float: left;
    padding-left: 120px;
}

.scala-popup .content h3{
    font-size: 13px;
    font-weight: bold;
}

.scala-popup .content .content-left{
    float: left;
    width: 50%;
}

.scala-popup .content .content-right{
    float: right;
    width: 50%;
}

.scala-popup h3.thanks{
    font-size: 16px;
    color: #000;
}

.scala-popup p.msg{
    padding: 10px 0 35px;
}
#register-success-form.scala-popup .header{
    border: 0;
}



.register-form-sc .header{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #7f8080;
    position: relative;
}

.register-form-sc .close-popup{
    position: absolute;
    width: 30px;
    height: 40px;
    background: url('../../images/icons/close-popup.png') no-repeat center center;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.register-form-sc .header h2{
    color: #000;
    font-size: 16px;
    padding: 0 0 10px 0;
}



.register-form-sc .header p{
    font-size: 11px;
    color: #9C9C9C;
}

.register-form-sc .content{

    color: #999999;
    font-size: 11px;
    padding: 25px 0 155px;
}

.register-form-sc .content input[type="text"],
.register-form-sc .content input[type="password"]{
    height: 22px;
    width: 135px;
    background: url('../../images/icons/input-text-left.png'), url('../../images/icons/image-text-right.png') , url('../../images/icons/image-text-center.png');
    background-position: left top, right top, left top ;
    background-repeat: no-repeat, no-repeat, repeat-x;
    padding: 0 5px;
    font-size: 11px;
    border: 0;
    border-radius: 0;
}


/* The CSS */

.register-form-sc .content span.label_select {
    position:relative;
    height: 22px;
}

.register-form-sc .content label{
    width: 120px;
    float: left;
}

.register-form-sc .content label[for="customers_telephone_ext"]{
    padding-left: 25px;
    width: 25px;
}

.register-form-sc .content input#customers_telephone_ext{
    width: 55px;
}
.register-form-sc .content span{
    display: block;
    float: left;
}

.register-form-sc .content span.label_select:before {
    background: url("../../images/icons/select-box-right.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 22px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 0;
    width: 25px;
}
.register-form-sc .content select{
    height: 22px;
    background: url('../../images/icons/select-box-left.png'), url('../../images/icons/select-box-right.png'), url('../../images/icons/select-box-center.png');
    background-position: left top,right top,center top ;
    background-repeat: no-repeat,no-repeat, repeat-x;
    padding: 3px 5px 0;
    font-size: 11px;
    border: 0;
    border-radius: 0;
    color: #999999;
    width: 145px;
}

.register-form-sc .input-box{
    padding: 8px 0 0 5px;
}

.register-form-sc .input-box input{
    float: left;
}

.register-form-sc .input-box i{
    float: left;
    display: block;
    padding-left: 5px;
}

.register-form-sc .input-box p{
    display: block;
    float: left;
    padding-left: 120px;
}

.register-form-sc .content h3{
    font-size: 13px;
    font-weight: bold;
}

.register-form-sc .content .content-left{
    float: left;
    width: 50%;
}

.register-form-sc .content .content-right{
    float: right;
    width: 50%;
}

.register-form-sc h3.thanks{
    font-size: 16px;
    color: #000;
}

.register-form-sc p.msg{
    padding: 10px 0 35px;
}

@media only screen and (max-width: 900px) {
    .register-form-sc .content .content-right{
        float: left;
        width: 100%;
    }

    .register-form-sc .content .content-left{
        float: left;
        width: 100%;
    }
}

#login-form .error{
    color: #FF0000;
    font-size: 11px;
    margin-bottom: 10px;
}