.sidemenu {
	float: left;
	position:fixed;
	margin: 0 0 0 15px;
	z-index:99;
}

.homemenu ul li .menu-desc {
	font-size:	11px;
	display:	block;
	letter-spacing:0.2px;
	text-transform:	lowercase;
	color:#aaa;
	padding: 6px 6px;
	font-style:italic;
	font-weight:700;
	}
	
.homemenu ul li .menu-title {
	color: #fff;
    display: block;
	font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
	}
	
.homemenu	{
}

	.sf-menu, .sf-menu * {
		margin:			0;
		padding:		0;
		list-style:		none;
		z-index:9;
	}
	.sf-menu {
		line-height:	1.0;
		position: relative;
	}
	.sf-menu ul {
		position:		absolute;
		font-size: 12px;
	    font-weight: 400;
		text-transform:uppercase;
	}
	.sf-menu ul li {
		width:			100%;
	}
	.sf-menu li:hover {
		visibility:		inherit; /* fixes IE7 'sticky bug' */
	}
	.sf-menu li {
		position:		relative;
		padding-right: 50px;
	}
	.sf-menu a {
		display:		block;
		position:		relative;
	}
	.sf-menu li ul {
		left:			0;
		top:		    0;
		position:		relative;
		display:		none;
		z-index: 1;
	}
	.sf-menu li li ul {
		left:			0;
		top:		    0;
		position: relative;
	}

	.sf-menu {
		margin-left: 50px;
		margin-top: 6px;
		padding: 0;
	}
	.sf-menu a {
		padding: 0;
		text-decoration: none;
	}
	.sf-menu a, .sf-menu a:visited  {
	}
	.sf-menu li a {
		text-align: right;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.sf-menu li li a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.sf-menu li li a{
		text-align: right;
	}
	.sf-menu li a {
		padding:10px 0;
	}
	.homemenu ul:first-child:before {
		content: " ";
		position: absolute;
		width: 220px;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
	.sf-menu li li {
		background:none;
		padding:0;
		text-align: right;
		margin-bottom:0;
	}
	.sf-menu li ul {
		width:100%;
	}
	.sf-menu li a {
		color: #FFFFFF;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;

		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
	}
	.sf-menu li a:hover {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	.sf-menu li li a {
		color:#fff;
		color:rgba(255,255,255,0.7);
		padding:6px 0;
		font-size: 11px;
		font-weight: 400;
		text-transform: none;
		}
		.sf-menu li li a:hover {
			color:#fff;
			}
	.sub-menu li:last-child {
		border-bottom: 4px solid #fff;
	}
	li.current-menu-ancestor a,
	li.current-menu-parent a,
	li.current-menu-item a {
		position: relative;
	}
	li.current-menu-item a:before,
	li.current-menu-parent a:before,
	li.current-menu-ancestor a:before {
		position: absolute;
		top: 0;
		left: 0;
		content: " ";
		height:100%;
		display: block;
		/*border-left:4px solid #fff;*/
	}
	li.current-menu-item .sub-menu li a:before,
	li.current-menu-parent .sub-menu li a:before,
	li.current-menu-ancestor .sub-menu li a:before {
		border-left:0;
	}
	ul li ul li.current-menu-item:before,
	ul li ul li.current-menu-parent:before,
	ul li ul li.current-menu-ancestor:before {
		font-weight: 600;
		border: 0;
	}
 	li.current-menu-item, li.current-menu-parent, li.current-menu-ancestor {
		outline:		0;
	}
	
	.sf-menu li.current-menu-item .menu-title, .sf-menu li.current-menu-parent .menu-title, .sf-menu li.current-menu-ancestor .menu-title {
		color:#000;
	}
	
	
	.sf-menu li:hover .menu-title {
		color:#000;
	}
	
	.sf-menu li.current-menu-item:hover .menu-title, .sf-menu li.current-menu-parent:hover .menu-title, .sf-menu li.current-menu-ancestor:hover .menu-title {
		color:#000;
	}

	.sf-menu li:hover {
	}
	/*** arrows **/
	.sf-menu a.sf-with-ul {
	}
	.sub-menu .sf-with-ul {
	}
 	.sub-menu li.current-menu-item a {
		font-weight:	bold;
	}
	/*** shadows for all but IE6 ***/
	.sf-shadow ul {
		padding: 0 8px 9px 0;
	}
	.sf-shadow ul.sf-shadow-off {
		background: transparent;
	}


	/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
	.sf-vertical, .sf-vertical li {
		width:	10em;
	}
	/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
	.sf-vertical li:hover ul,
	.sf-vertical li.sfHover ul {
		left:	10em; /* match ul width */
		top:	0;
	}

/*** arrows (for all except IE7) **/
/* styling for both css and generated arrows */
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #000; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows .sf-with-ul {
	position: relative;
}
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f054";
	font-size: 6px;
	left: 10px;
	top: 12px;
	opacity: 0.5;
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	content: '';
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f054";
	font-size: 6px;
	left: 10px;
	top: 8px;
	opacity: 0.5;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
}

.homemenu .sub-menu {
	padding-top:10px;
}
.homemenu .sub-menu li:last-child a {
	padding-bottom:15px;
}
